* {
    box-sizing: border-box;
    font-family: Ubuntu, system-ui, sans-serif;
}

#output {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#output > div:last-child{
    margin-bottom: 0;
}

main, #output-wrapper{
    height: 0;
}

.message.me {
    align-self: flex-end;
    background-color: rgb(208, 242, 255);
}

.message {
    width: fit-content;
    background-color: lightgray;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.message.others::after{
    position: absolute;
    content: '';
    display: block;
    height: 0;
    width: 5px;
    border-top: 5px solid transparent;
    border-right: 5px solid lightgray;
    border-bottom: 5px solid transparent;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
}

.message.me::after{
    position: absolute;
    content: '';
    display: block;
    height: 0;
    width: 5px;
    border-top: 5px solid transparent;
    border-left: 5px solid rgb(208, 242, 255);
    border-bottom: 5px solid transparent;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
}

#output::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #e0e0e0; /* or add it to the track */
  }
  
#output::-webkit-scrollbar-thumb {
    background: rgb(12, 144, 196);
}

#login-overlay{
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    left: 0;
    top: 0;
}

#account{
    width: 50px;
    height: 50px;
    /* background-color: red; */
    border-radius: 50%;
    align-self: center;
    background-size: contain;
    cursor: pointer;
    position: relative;
}

#account-details{
    position: absolute;
    width: 200px;
    right: 0;
    top: calc(100% + 2px);
    border: 1px solid lightgray;
    border-radius: 10px;
    text-align: right;
    z-index: 99999;
    background-color: white;
}

#user-name{
    /* margin: 5px; */
    padding: 10px 10px 0;
}

#user-email{
    color: gray;
    font-size: 0.8rem;
    padding-right: 10px;
}



#btn-sign-out{
    /* margin-top: 5px; */
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#btn-sign-out:hover{
    background-color: lightgray;
}

#loader {
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader-wrapper{
    transform: scale(1.4);
}

.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
  